*.so
*.dylib

sentinelnode
sentinelmesh
distributed-ids

*.test

*.out

go.work

.vscode/

.DS_Store

*.log

*.tmp
*.swp

.ipynb_checkpoints/

data/
model_params.json

dashboard/sentineldash
dashboard/frontend/dist/
dashboard/frontend/node_modules/

_site/
.jekyll-cache/
.jekyll-metadata
